<%= form_for @post do |f| %> <!--, remote: true - ajax запрос. Позволяет не перезагружать страницу при отправке формы -->
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'editor' %>
  </div>
  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_area :tag %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit 'сохранить' %>
  </div>
<% end %>