<h1>index-post</h1>
<% @posts.each do |p| %>
  <small>
    id: <%= p.id %>
    <%= link_to 'Изменить', edit_post_path(p)  %>
    <%= link_to 'Удалить', post_path(p), method: :delete %>
  </small>
  <h4><%= link_to p.title, post_path(p) %></h4>
  <p><%= p.body %></p>
  <p><%= link_to'Комментарии ', post_path(p) %><%= p.comments.count %></p>
  <p><%= link_to 'Like', post_likes_path(p), method: :post, class: 'like', id: 'like' %><%=  p.likes.count %></p>

  <small>autor: <%=p.user.name %></small>
  <hr>
<% end %>