<!DOCTYPE html>
<html>
  <head>
    <title>AsiteV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img style="width: 45px; height: 40px;" src="https://sun9-31.userapi.com/impg/566MDciqI_51fihWkBtg1YQvC6a1xGf21Tc2Ng/HYJ4oocjRfY.jpg?size=368x348&quality=96&proxy=1&sign=f9f9ebbce581692c86c2ccb3a3664999&type=album" alt="">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item active ">
          <%= link_to 'Главное', posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item ">
          <%= link_to 'Новый пост', new_post_path, class: 'nav-link' %>
        </li>

       <li class=" ">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
              <%= image_tag user_avatar(current_user, 30), class: 'rounded-circle' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Мой профиль', user_path(id: current_user.id), class: 'dropdown-item' %>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item ">
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
       </li>
      </ul>
<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->
      <!-- device-->

    </div>
  </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!--flash-->
    <p class="flash_error"><%= flash[:error] %></p>
    <p class="flash_success"><%= flash[:success] %></p>

    <%= yield %>
  </body>
</html>
