<!DOCTYPE html>
<html>
  <head>
    <title>AsiteV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Главное', posts_path %>
    <%= link_to 'Новый пост', new_post_path %>

    <!--flash-->
    <p class="flash_error"><%= flash[:error] %></p>
    <p class="flash_success"><%= flash[:success] %></p>

    <%= yield %>
  </body>
</html>
