<!DOCTYPE html>
<html>
  <head>
    <title>AsiteV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Главное', posts_path %>
    <%= link_to 'Новый пост', new_post_path %>
    <!-- device-->
    <% if user_signed_in? %>
      <%= link_to '| Выйти', destroy_user_session_path, :method => :delete %>
      <%= current_user.name %>
    <% else %>
      <%= link_to ' | Войти', new_user_session_path, class: 'mr-4 all_posts' %>
      <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'all_posts mr-2'%>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!--flash-->
    <p class="flash_error"><%= flash[:error] %></p>
    <p class="flash_success"><%= flash[:success] %></p>

    <%= yield %>
  </body>
</html>
